@tailwind base;
@tailwind components;
@tailwind utilities;

.pangolin-regular {
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .pangolin-bold {
    font-family: "Pangolin", cursive;
    font-weight: 700;
    font-style: normal;
  }

  .passion-one-regular {
    font-family: "Passion One", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .passion-one-bold {
    font-family: "Passion One", serif;
    font-weight: 700;
    font-style: normal;
  }